<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calculator_nice_icon1edited"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/calculator_nice_icon1edited_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectApp">
        <activity
            android:name=".RetrivedMarksActivity"/>

        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".AttendanceCalculationActivity"
            android:label="Attendance Sheet" />
        <activity
            android:name=".TermWorkCalculationActivity"
            android:label="Term Work Calculation" />
        <activity
            android:name=".MarksCalculationActivity"
            android:label="Test Calculator" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>